<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homework 8</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script type="module" src="../js/2-form.js" defer></script>
  </head>
  <body>
  <section class="form-section">
    <div class="form-div">
        <form class="feedback-form" autocomplete="off">
          <div>
            <label>
              <span class="label">Email</span>
              <input class="form-input" type="email" name="email" autofocus />
            </label>
          </div>
          <div class="form-texarea">
            <label>
              <span class="label">Message</span>
              <textarea class="form-comment" name="message" rows="8"></textarea>
            </label>
          </div>
          <div class="sub-button">
            <button class="submit-button" type="submit">Submit</button>
          </div>
        </form>
    </div>
  </section>
  </body>