/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.gallery{
  display: flex;
  width: 1440px;
  height: 848px;
  padding: 100px 156px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image{
  width: 360px;
  
  padding: 0;

}

.simple-lightbox{
  background-color: rgba(46, 47, 66, 0.80);

  ;
}

.label{
  display: block;
  margin-bottom: 8px;
}

.form-div{
  width: 408px;
  margin-left: auto;
  margin-right: auto;
}

.feedback-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.form-comment{
  resize: none;
  width: 360px;
  height: 80px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #808080;
}

.form-input{
  width: 360px;
  height: 40px;
  padding: 0;
  border: 1px solid #808080;
  border-radius: 4px;
  border: 1px solid #808080;
  
}

.form-input::placeholder{
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  
}

.sub-button{
  align-self: self-start;
  margin-left: 23px;
}

.submit-button{
  border-radius: 8px;
  background: #4E75FF;
  color: #FFFFFF;
  border: 0;
  padding: 8px 16px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.submit-button:hover{
  background: #6C8CFF;
}